import { Component, render } from "preact";
import { makeStyles, tokens, mergeClasses } from "@fluentui/react-components";

import { SideNav } from "../../components/GeneratedComponents/SideNav";
import { StackPanel } from "../../components/StackPanel";
import { ControlExample } from "../../components/ControlExample";

{% for proxy in proxies %}import { {{proxy }} } from "../../components/Proxies/{{ proxy }}";
{% endfor %}

export class {{ pageName }} extends Component {
  constructor() {
    super();
    this.state = { key: "Value" };
  }

  componentDidMount() {}

  componentWillUnmount() {}

  useStyles = makeStyles({});

  render() {
    const classes = this.useStyles();

    return <div class="row">
    <SideNav />
    {{ html }}
    </div>;
  }
}
